html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    -webkit-margin: 0 auto;
    -o-margin: 0 auto;
    -moz-margin: 0 auto;   
}
body{
    display: inline-flex;
    -webkit-display: inline-flex;
    -o-display: inline-flex;
    -moz-display: inline-flex;
    flex-direction: column; 
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -moz-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    -o-align-items: stretch;
    -moz-align-items: stretch;
    justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -moz-justify-content: center;
    background-color: rgb(48, 47, 47);
    -webkit-background-color: rgb(48, 47, 47);
    -o-background-color: rgb(48, 47, 47);
    -moz-background-color: rgb(48, 47, 47);
}
body::-webkit-scrollbar {
    width: 10px;               /* ширина всей полосы прокрутки */
  }
  body::-webkit-scrollbar-track {
    background: rgb(170, 241, 241);        /* цвет зоны отслеживания */
    -webkit-background: rgb(170, 241, 241); 
    -o-background: rgb(170, 241, 241); 
    -moz-background: rgb(170, 241, 241); 
  }
  body::-webkit-scrollbar-track:active {
    background: rgb(0, 255, 187);        /* цвет зоны отслеживания */
    -webkit-background: rgb(0, 255, 187); 
    -o-background: rgb(0, 255, 187); 
    -moz-background: rgb(0, 255, 187); 
  }
  body::-webkit-scrollbar-thumb {
    background-color: pink;    /* цвет бегунка */
    -webkit-background-color: pink;
    -o-background-color: pink;
    -moz-background-color: pink;
    border-radius: 20px;       /* округлось бегунка */
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    border: 2px solid plum;  /* отступ вокруг бегунка */
    -webkit-border: 2px solid plum;
    -o-border: 2px solid plum;
    -moz-border: 2px solid plum;
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 0, 153);    /* цвет бегунка */
    -webkit-background-color: rgb(255, 0, 153);
    -o-background-color: rgb(255, 0, 153);
    -moz-background-color: rgb(255, 0, 153);
    border-radius: 20px;       /* округлось бегунка */
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    border: 2px solid rgb(249, 11, 249);  /* отступ вокруг бегунка */
    -webkit-border: 2px solid rgb(249, 11, 249);
    -o-border: 2px solid rgb(249, 11, 249);
    -moz-border: 2px solid rgb(249, 11, 249);
  }
  @media (orientation: landscape) {
    body {
    display: flex;
    -webkit-display: flex;
    -o-display: flex;
    -moz-display: flex;
     flex-direction: row;
     -webkit-flex-direction: row;
    -o-flex-direction: row;
    -moz-flex-direction: row;
    }
   /* При альбомному (горизонтальному) відображенні сайту його блоки відображатимуться в рядок */
   }
   @media (orientation: portrait) {
    body {
    display: flex;
    -webkit-display: flex;
    -o-display: flex;
    -moz-display: flex;
     flex-direction: column;
     -webkit-flex-direction: column;
     -o-flex-direction: column;
     -moz-flex-direction: column;
    }
   }
p, h1, h4{
    color: rgb(74, 74, 74);
    -webkit-color: rgb(74, 74, 74);
    -o-color: rgb(74, 74, 74);
    -moz-color: rgb(74, 74, 74);
    text-align: center;
    -webkit-text-align: center;
    -o-text-align: center;
    -moz-text-align: center;
}
h1 {
    font-size: 70px;
    -webkit-font-size: 70px;
    -o-font-size: 70px;
    -moz-font-size: 70px;
    margin-top: 0%;
    -webkit-margin-top: 0%;
    -o-margin-top: 0%;
    -moz-margin-top: 0%;
    font-weight: 400;
    -webkit-font-weight: 400;
    -o-font-weight: 400;
    -moz-font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    -webkit-font-family: 'Libre Baskerville', serif;
    -o-font-font-family: 'Libre Baskerville', serif;
    -moz-font-font-family: 'Libre Baskerville', serif;
}
h4 {
    font-size: 20px;
    -webkit-font-size: 20px;
    -o-font-size: 20px;
    -moz-font-size: 20px;
    letter-spacing: 1px;
    -webkit-letter-spacing: 1px;
    -o-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    margin-top: -5%;
    -webkit-margin-top: -5%;
    -o-margin-top: -5%;
    -moz-margin-top: -5%;  
}
p,h4,h5{
    font-family: 'Mulish', sans-serif;
    -webkit-font-family: 'Mulish', sans-serif;
    -o-font-family: 'Mulish', sans-serif;
    -moz-font-family: 'Mulish', sans-serif;
    font-weight: 400;
    -webkit-font-weight: 400;
    -o-font-weight: 400;
    -moz-font-weight: 400;
}
main{
    display: flex;
    -webkit-display: flex;
    -o-display: flex;
    -moz-display: flex;
    vertical-align: top;
    -webkit-vertical-align: top;
    -o-vertical-align: top;
    -moz-vertical-align: top;
    background-color: rgb(48, 47, 47);
    -webkit-background-color: rgb(48, 47, 47);
    -o-background-color: rgb(48, 47, 47);
    -moz-background-color: rgb(48, 47, 47);
    padding: 5% 20%;
    -webkit-padding: 5% 20%;
    -o-padding: 5% 20%;
    -moz-padding: 5% 20%;
    width: 60%; 
    height: 80%;
}
.testimonials,
.under{
    color: aliceblue;
    -webkit-color: aliceblue;
    -o-color: aliceblue;
    -moz-color: aliceblue;
}
.boxwrap {
    display: inline-flex;
    -webkit-display: inline-flex;
    -o-display: inline-flex;
    -moz-display: inline-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -moz-flex-direction: row;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    -o-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    height: 300px;
    width: 100%;
    margin: 5% 0% 0% 0%;
    -webkit-margin: 5% 0% 0% 0%;
    -o-margin: 5% 0% 0% 0%;
    -moz-margin: 5% 0% 0% 0%;
}
.boxes {
    display: inline-flex;
    -webkit-display: inline-flex;
    -o-display: inline-flex;
    -moz-display: inline-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -moz-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -moz-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    align-self: center;
    -webkit-align-self: center;
    -o-align-self: center;
    -moz-align-self: center;
    align-content: flex-end;
    -webkit-align-content: flex-end;
    -o-align-content: flex-end;
    -moz-align-content: flex-end;
}
.boxes div:nth-child(1) {
    display: inline-block;
    -webkit-display: inline-block;
    -o-display: inline-block;
    -moz-display: inline-block;
    position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -moz-position: relative;
    box-shadow: 0px 0px 0px 8px rgb(128 128 128 / 47%);
    -webkit-box-shadow: 0px 0px 0px 8px rgb(128 128 128 / 47%);
    -o-box-shadow: 0px 0px 0px 8px rgba(128, 128, 128, 0.472);
    -moz-box-shadow: 0px 0px 0px 8px rgba(128, 128, 128, 0.472);
}
.alex1{
    height: 300px;
}
.alex1:hover{
    filter: blur(2px) hue-rotate(50deg) brightness(0.7);
    -webkit-filter: blur(2px) hue-rotate(50deg) brightness(0.7);
    -o-filter: blur(2px) hue-rotate(50deg) brightness(0.7);
    -moz-filter: blur(2px) hue-rotate(50deg) brightness(0.7);
}
.boxes div:nth-child(2) {
    height: 210px;
    width: 600px;
    background-color: rgb(252, 252, 252);
    -webkit-background-color: rgb(252, 252, 252);
    -o-background-color: rgb(252, 252, 252);
    -moz-background-color: rgb(252, 252, 252);
    border-bottom: 2px orangered solid;
    -webkit-border-bottom: 2px orangered solid;
    -o-border-bottom: 2px orangered solid;
    -moz-border-bottom: 2px orangered solid;
    position: static;
    -webkit-position: static;
    -o-position: static;
    -moz-position: static;
}
.dep {
    color: rgb(74 70 70);
    -webkit-color: rgb(74 70 70);
    -o-color: rgb(74 70 70);
    -moz-color: rgb(74 70 70);
    text-align: left;
    -webkit-text-align: left;
    -o-text-align: left;
    -moz-text-align: left;
    margin: 3% 5% 0 5%;
    -webkit-margin: 3% 5% 0 5%;
    -o-margin: 3% 5% 0 5%;
    -moz-margin: 3% 5% 0 5%;
    font-size: 12px;
    -webkit-font-size: 12px;
    -o-font-size: 12px;
    -moz-font-size: 12px;
    letter-spacing: 1px;
    -webkit-letter-spacing: 1px;
    -o-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
}
.span{
    margin: -17% 0% 0% 1%;
    -webkit-margin: -17% 0% 0% 1%;
    -o-margin: -17% 0% 0% 1%;
    -moz-margin: -17% 0% 0% 1%;
    position: absolute;
    -webkit-position: absolute;
    -o-position: absolute;
    -moz-position: absolute;
}
.quotes {
    color: #8c868614;
    -webkit-color: #8c868614;
    -o-color: #8c868614;
    -moz-color: #8c868614;
    font-size: 110px;
    -webkit-font-size: 110px;
    -o-font-size: 110px;
    -moz-font-size: 110px;
    text-align: left;
    -webkit-text-align: left;
    -o-text-align: left;
    -moz-text-align: left;
}
.section{
    position: absolute;
    -webkit-position: absolute;
    -o-position: absolute;
    -moz-position: absolute;
    margin: 0% 0% 0% 2%;
    -webkit-margin: 0% 0% 0% 2%;
    -o-margin: 0% 0% 0% 2%;
    -moz-margin: 0% 0% 0% 2%;
}
.melina{
    color: black;
    -webkit-color: black;
    -o-color: black;
    -moz-color: black;
    font-size: 35px;
    -webkit-font-size: 35px;
    -o-font-size: 35px;
    -moz-font-size: 35px;
    text-align: left;
    -webkit-text-align: left;
    -o-text-align: left;
    -moz-text-align: left;
    font-family: "Sacramento";
    -webkit-font-family: "Sacramento";
    -o-font-family: "Sacramento";
    -moz-font-family: "Sacramento";
    font-weight: 400;
    -webkit-font-weight: 400;
    -o-font-weight: 400;
    -moz-font-weight: 400;
    position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -moz-position: relative;
}
.ma {
    color: black;
    -webkit-color: black;
    -o-color: black;
    -moz-color: black;
    font-size: 12px;
    -webkit-font-size: 12px;
    -o-font-size: 12px;
    -moz-font-size: 12px;
    text-align: left;
    -webkit-text-align: left;
    -o-text-align: left;
    -moz-text-align: left;
    margin: -38% 5% 0 5%;
    -webkit-margin: -38% 5% 0 5%;
    -o-margin: -38% 5% 0 5%;
    -moz-margin: -38% 5% 0 5%;
}
.tt {
    color: red;
    -webkit-color: red;
    -o-color: red;
    -moz-color: red;
    font-size: 9px;
    -webkit-font-size: 9px;
    -o-font-size: 9px;
    -moz-font-size: 9px;
    text-align: left;
    -webkit-text-align: left;
    -o-text-align: left;
    -moz-text-align: left;
    margin: 2% 5% 0 5%;
    -webkit-margin: 2% 5% 0 5%;
    -o-margin: 2% 5% 0 5%;
    -moz-margin: 2% 5% 0 5%;
}
.radio {
    display: inline-block;
    -webkit-display: inline-block;
    -o-display: inline-block;
    -moz-display: inline-block;
     margin: 0% 0% 0% 83%;
    -webkit-margin: 0% 0% 0% 83%;
    -o-margin: 0% 0% 0% 83%;
    -moz-margin: 0% 0% 0% 83%;
}
.contact, label {
    cursor: pointer;
    -webkit-cursor: pointer;
    -o-cursor: pointer;
    -moz-cursor: pointer;
}
.contact {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -moz-outline: none;
    position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -moz-position: relative;
    margin-right: 15px;
    -webkit-margin-right: 15px;
    -o-margin-right: 15px;
    -moz-margin-right: 15px;
}
.contact::before {
    content: '';
    -webkit-content: '';
    -o-content: '';
    -moz-content: '';
    position: absolute;
    -webkit-position: absolute;
    -o-position: absolute;
    -moz-position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.033);
    -webkit-background-color: rgba(255, 255, 255, 0.033);
    -o-background-color: rgba(255, 255, 255, 0.033);
    -moz-background-color: rgba(255, 255, 255, 0.033);
    border: 1px white solid;
    -webkit-border: 1px white solid;
    -o-border: 1px white solid;
    -moz-border: 1px white solid;
}
.contact:checked::after {
    content: '';
    -webkit-content: '';
    -o-content: '';
    -moz-content: '';
    position: absolute;
    -webkit-position: absolute;
    -o-position: absolute;
    -moz-position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: orangered;
    -webkit-background-color: orangered;
    -o-background-color: orangered;
    -moz-background-color: orangered;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    visibility: visible;
    -webkit-visibility: visible;
    -o-visibility: visible;
    -moz-visibility: visible;
    border: 1px orangered solid;
    -webkit-border: 1px orangered solid;
    -o-border: 1px orangered solid;
    -moz-border: 1px orangered solid;
    outline: orangered;
    -webkit-outline: none;
    -o-outline: none;
    -moz-outline: none;
}


/*-webkit-
    -o-
    -moz-*/