
.box2{
    padding: 5% 20%;
    -webkit-padding: 5% 20%;
    -o-padding: 5% 20%;
    -moz-padding: 5% 20%;
    display: flex;
    -webkit-display: flex;
    -o-display: flex;
    -moz-display: flex;
    flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    align-content: space-around;
    -webkit-align-content: space-around;
    -o-align-content: space-around;
    -moz-align-content: space-around;
    align-items: stretch;
    -webkit-align-items: stretch;
    -o-align-items: stretch;
    -moz-align-items: stretch;
    vertical-align: top;
    -webkit-vertical-align: top;
    -o-vertical-align: top;
    -moz-vertical-align: top;
    background-color: rgb(248, 248, 248);
    -webkit-background-color: rgb(248, 248, 248);
    -o-background-color: rgb(248, 248, 248);
    -moz-background-color: rgb(248, 248, 248);
    width: 60%;   
}
.flex {
    align-items: baseline;
    display: flex;
    -webkit-display: flex;
    -o-display: flex;
    -moz-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -moz-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -moz-justify-content: center;
    align-items: baseline;
    -webkit-align-items: baseline;
    -o-align-items: baseline;
    -moz-align-items: baseline;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
}
.flexbox{
    display: inline-flex;
    -webkit-display: inline-flex;
    -o-display: inline-flex;
    -moz-display: inline-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -moz-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -moz-justify-content: center;
    align-items: stretch;
    -webkit-align-items: stretch;
    -o-align-items: stretch;
    -moz-align-items: stretch;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    margin: 5% 0% 0% 0%;  
    -webkit-margin: 5% 0% 0% 0%;
    -o-margin: 5% 0% 0% 0%;
    -moz-margin: 5% 0% 0% 0%;  
}
.flexbox div:nth-child(1){
    background: linear-gradient(180deg, rgba(108, 109, 110, 0.731),rgba(167, 137, 142, 0.731), rgba(196, 127, 102, 0.743), rgba(229, 117, 77, 0.777));
    -webkit-background: linear-gradient(180deg, rgb(108, 109, 110),rgb(167, 137, 142), rgb(196, 127, 102), rgb(229, 118, 77));
    -o-background: linear-gradient(180deg, rgb(108, 109, 110),rgb(167, 137, 142), rgb(196, 127, 102), rgb(229, 118, 77));
    -moz-background: linear-gradient(180deg, rgb(108, 109, 110),rgb(167, 137, 142), rgb(196, 127, 102), rgb(229, 118, 77));
    height: 170px;
    width: 350px;
}
.flexbox div:nth-child(2){
    background: linear-gradient(180deg, rgb(108, 109, 110),rgb(137, 167, 163), rgb(140, 174, 174), rgb(121, 193, 199));
    -webkit-background: linear-gradient(180deg, rgb(108, 109, 110),rgb(137, 167, 163), rgb(111, 176, 177), rgb(121, 193, 199));
    -o-background: linear-gradient(180deg, rgb(108, 109, 110),rgb(137, 167, 163), rgb(111, 176, 177), rgb(121, 193, 199));
    -moz-background: linear-gradient(180deg, rgb(108, 109, 110),rgb(137, 167, 163), rgb(111, 176, 177), rgb(121, 193, 199));
    height: 170px;
    width: 350px;
}
.flexbox div:nth-child(3){
    background: linear-gradient(180deg, rgb(204, 205, 207),rgb(217, 180, 218), rgb(234, 163, 235), rgb(242, 154, 243));
    -webkit-background: linear-gradient(180deg, rgb(204, 205, 207),rgb(217, 180, 218), rgb(234, 163, 235), rgb(242, 154, 243));
    -o-background: linear-gradient(180deg, rgb(204, 205, 207),rgb(217, 180, 218), rgb(234, 163, 235), rgb(242, 154, 243));
    -moz-background: linear-gradient(180deg, rgb(204, 205, 207),rgb(217, 180, 218), rgb(234, 163, 235), rgb(242, 154, 243));
    height: 170px;
    width: 350px;
}
.flexbox div:nth-child(4){
    background: linear-gradient(180deg, rgb(155, 156, 157),rgb(191, 195, 195), rgb(207, 211, 146), rgb(211, 209, 99));
    -webkit-background: linear-gradient(180deg, rgb(108, 109, 110),rgb(137, 167, 163), rgb(111, 176, 177), rgb(121, 193, 199));
    -o-background: linear-gradient(180deg, rgb(108, 109, 110),rgb(137, 167, 163), rgb(111, 176, 177), rgb(121, 193, 199));
    -moz-background: linear-gradient(180deg, rgb(108, 109, 110),rgb(137, 167, 163), rgb(111, 176, 177), rgb(121, 193, 199));
    height: 170px;
    width: 350px;
}
.numbers{
    margin: 22% 0% 0% 38%;
    -webkit-margin: 22% 0% 0% 38%;
    -o-margin: 22% 0% 0% 38%;
    -moz-margin: 22% 0% 0% 38%;
    position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -moz-position: relative;
    font-family: 'Cabin Condensed', sans-serif;
    -webkit-font-family: 'Cabin Condensed', sans-serif;
    -o-font-family: 'Cabin Condensed', sans-serif;
    -moz-font-family: 'Cabin Condensed', sans-serif;
    font-size: 25px;
    -webkit-font-size: 25px;
    -o-font-size: 25px;
    -moz-font-size: 25px;
    color: rgb(118, 118, 118);
}
.left,
.left2,
.right,
.right2
{
    display: inline-block;
    -webkit-display: inline-block;
    -o-display: inline-block;
    -moz-display: inline-block;
    position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -moz-position: relative;
    height: 155px;
    width: 250px;
    background-color: white;
    -webkit-background-color: white;
    -o-background-color: white;
    -moz-background-color: white;  
}
.left{
    margin: -37% 0% 0% -43%;
    -webkit-margin: -37% 0% 0% -43%;
    -o-margin: -37% 0% 0% -43%;
    -moz-margin: -37% 0% 0% -43%; 
    border-bottom: 2px orangered solid;
    -webkit-border-bottom: 2px orangered solid;
    -o-border-bottom: 2px orangered solid;
    -moz-border-bottom: 2px orangered solid;
    box-shadow: 0px 0px 0px 2px rgba(229, 229, 229, 0.47);
    -webkit-box-shadow: 0px 0px 0px 2px rgb(229, 229, 229, 0.47);
    -o-box-shadow: 0px 0px 0px 2px rgba(229, 229, 229, 0.47);
    -moz-box-shadow: 0px 0px 0px 2px rgba(229, 229, 229, 0.47);
}
.right{
    margin: -37% 0% 0% 73%;
    -webkit-margin: -37% 0% 0% 73%;
    -o-margin: -37% 0% 0% 73%;
    -moz-margin: -37% 0% 0% 73%;
    border-bottom: 2px rgb(11, 164, 93) solid;
    -webkit-border-bottom: 2px rgb(11, 164, 93) solid;
    -o-border-bottom: 2px rgb(11, 164, 93) solid;
    -moz-border-bottom: 2px orgb(11, 164, 93) solid;
}
.left2{ 
    margin: -37% 0% 0% -43%;
    -webkit-margin: -37% 0% 0% -43%;
    -o-margin: -37% 0% 0% -43%;
    -moz-margin: -37% 0% 0% -43%;  
    border-bottom: 2px rgb(140, 45, 140) solid;
    -webkit-border-bottom: 2px rgb(140, 45, 140) solid;
    -o-border-bottom: 2px rgb(140, 45, 140) solid;
    -moz-border-bottom: 2px rgb(140, 45, 140) solid;
}
.right2{
    margin: -37% 0% 0% 73%;
    -webkit-margin: -37% 0% 0% 73%;
    -o-margin: -37% 0% 0% 73%;
    -moz-margin: -37% 0% 0% 73%; 
    border-bottom: 2px rgb(222, 216, 50) solid;
    -webkit-border-bottom: 2px rgb(222, 216, 50) solid;
    -o-border-bottom: 2px rgb(222, 216, 50) solid;
    -moz-border-bottom: 2px rgb(222, 216, 50) solid;
}
.nl{
    display: block;
    -webkit-display: block;
    -o-display: block;
    -moz-display: block;
    height: 100%;
    width: 20%;
}
.numb{
    color: rgba(69, 67, 67, 0.334);
    -webkit-color: rgba(69, 67, 67, 0.334);
    -o-color: rgba(69, 67, 67, 0.334);
    -moz-color: rgba(69, 67, 67, 0.334);
    margin: 15% 0% 0% 35%;
    -webkit-margin: 15% 0% 0% 35%;
    -o-margin: 15% 0% 0% 35%;
    -moz-margin: 15% 0% 0% 35%;
    font-size: 35px;
    -webkit-font-size: 35px;
    -o-font-size: 35px;
    -moz-font-size: 35px;
    font-weight: 400;
    -webkit-font-weight: 400;
    -o-font-weight: 400;
    -moz-font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    -webkit-font-family: 'Libre Baskerville', serif;
    -o-font-font-family: 'Libre Baskerville', serif;
    -moz-font-family: 'Libre Baskerville', serif;
}
.ione{
    position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -moz-position: relative;
    height: 20%;
    width: 200%;
    transform: translateX(2px) translateY(-15px) translateZ(-100px) rotate(-45deg);
    -webkit-transform: translateX(2px) translateY(-15px) translateZ(-100px) rotate(-45deg);
    -o-transform: translateX(2px) translateY(-15px) translateZ(-100px) rotate(-45deg);
    -moz-transform: translateX(2px) translateY(-15px) translateZ(-100px) rotate(-45deg);
}
.tl{
    display: block;
    -webkit-display: block;
    -o-display: block;
    -moz-display: block;
    height: 100%;
    width: 79%;
    margin-top: -65%;
    -webkit-margin-top: -65%;
    -o-margin-top: -65%;
    -moz-margin-top: -65%;
    margin-left: 20%;
    -webkit-margin-left: 20%;
    -o-margin-left: 20%;
    -moz-margin-left: 20%;
}
.text,
.text2{
    font-family: 'Mulish', sans-serif;
    -webkit-font-family: 'Mulish', sans-serif;
    -o-font-family: 'Mulish', sans-serif;
    -moz-font-family: 'Mulish', sans-serif;
    font-weight: 400;
    -webkit-font-weight: 400;
    -o-font-weight: 400;
    -moz-font-weight: 400;
}
.text{
    color: black;
    -webkit-color: black;
    -o-color: black;
    -moz-color: black;
    font-size: 17px;
    -webkit-font-size: 17px;
    -o-font-size: 17px;
    -moz-font-size: 17px;
    margin: 15% 0% 0% -1%;
    -webkit-margin: 15% 0% 0% -1%;
    -o-margin: 15% 0% 0% -1%;
    -moz-margin: 15% 0% 0% -1%; 
    text-align: center;
    -webkit-text-align: center;
    -o-text-align: center;
    -moz-text-align: center;
}
.text2{
    color: black;
    -webkit-color: black;
    -o-color: black;
    -moz-color: black;
    margin: 6% 0% 0% 0%;
    -webkit-margin: 6% 0% 0% 0%;
    -o-margin: 6% 0% 0% 0%;
    -moz-margin: 6% 0% 0% 0%;
    font-size: 11px;
    -webkit-font-size: 11px;
    -o-font-size: 11px;
    -moz-font-size: 11px;
    text-align: left;
    -webkit-text-align: left;
    -o-text-align: left;
    -moz-text-align: left;
    padding: 0% 10% 0% 0%;
    -webkit-padding: 0% 10% 0% 0%;
    -o-padding: 0% 10% 0% 0%;
    -moz-padding: 0% 10% 0% 0%;
}


